@model UserData
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />
</head>
<body>

    <ul class="nav-links">
        <li><a href="#"><img class="logo filter" src="../img/logo1.png" alt="logo"></a></li>
        <!-- <li><a href="#" class="filter" style="color: #f88484;">เกี่ยวกับ</a></li>
        <li class="filter"><a href="#" style="color: #9CDBC8;">จัดอันดับ</a></li>
        <li class="filter"><a href="#" style="color: #84A7F6;">บริการ</a></li>
        <li class="filter"><a href="#" style="color: #F6CC84;">รายงาน</a></li> -->
        <div class="profile-container">
            <a class="simongame profilenav" href="../Simon Game Challenge Starting Files/index.html">
                <img src="https://scontent.fbkk22-3.fna.fbcdn.net/v/t1.15752-9/423472096_434126202389732_4262227168538792874_n.png?_nc_cat=103&ccb=1-7&_nc_sid=8cd0a2&_nc_eui2=AeH2bdBhIq2bEJwls_hLShndg9-dAzVfcKKD350DNV9wohCdaBW4WFNopo_uyjIp90oW0QVAYU3w5k8-_R1FqdKl&_nc_ohc=SX_zMTqfrYYAX_-Nv9x&_nc_ht=scontent.fbkk22-3.fna&oh=03_AdROFoeuT_8dwahcBc9AfEuEXPxEU5oFi7wcoFttqjR7kA&oe=660B3F9F">
            </a>
            <a class="drumgame profilenav" href="../Drum Kit Starting Files/drumgame.html">
                <img src="https://scontent.fbkk22-2.fna.fbcdn.net/v/t1.15752-9/430218074_379299401706603_2983486655377299484_n.png?_nc_cat=105&ccb=1-7&_nc_sid=8cd0a2&_nc_eui2=AeHhbavSBYaTd6IYGiE_HDwSbI-pOnraBaFsj6k6etoFob8ePAMSvNG-pvxmzRra3ht_rDj2mBEUQus-MQTkhKAb&_nc_ohc=itOYODk-cLMAX_z_xs7&_nc_ht=scontent.fbkk22-2.fna&oh=03_AdR_WKQ-gui2pC0EyPK5ZzJzFzxpmxflMwDG7Nzg1fTJDw&oe=660B4951">
            </a>
            <a class="noti profilenav" href="#"><img src="../img/noti.png"></a>
            <a class="inbox profilenav" href="../chat/chat.html"><img src="../img/inbox.png"></a>
            <a class="profilepic profilenav" href="../profile/profile.html">
                <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.vectorstock.com%2Froyalty-free-vectors%2Fblank-profile-picture-vectors&psig=AOvVaw1-4u4dN4N-5_cTk6uwDrGO&ust=1710462179548000&source=images&cd=vfe&opi=89978449&ved=0CBMQjRxqFwoTCMifjKa-8oQDFQAAAAAdAAAAABAE"
                     alt="profile">
            </a>
        </div>

    </ul>
    <form method="post" asp-controller="Profile" asp-action="Edit">
    <div class="profile-card-container">
        <div class="header">
            <div class="profile-pic">
                <img src="@Model.Image" alt="profile">
            </div>
            <div class="profile-info">
                <div class="firstname">@Model.FirstName </div>
                <div class="lastname">@Model.LastName</div>
                <div class="gmail">@Model.Email</div>
                <div class="boarder">
                    <div class="birthday">Birthday: @Model.Birthday</div>
                </div>
            </div>
            <div class="pro">
                <div><p>&#9829;</p></div>
            </div>
        </div>

        <p>About Me</p>
        <div class="about">
            <p>Hello world</p>
        </div>

        <a class="button-field">
            <div class="edit-profile">
                <button type="submit" >Edit Profile</button>
            </div>
    </form>

            <div  class="logout">
        <button asp-controller="Login" asp-action="Index">Logout</button>
            </div>



    </div>


</body>
</html>